<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LACKP Homepage</title>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <h1>The LACKP Homepage</h2>
      <ul>
        <li><a href="/teams">View All Teams</a></li>
        <li><a href="/positions">View All Positions</a></li>
      </ul>
  </body>
</html>
